name: CI - Tyvs Tienda Ropa

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache de dependencias Maven
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Compilar y ejecutar pruebas
        working-directory: ./tyvs-tienda-ropa
        run: mvn -B clean verify

      - name: Subir reporte Surefire como artefacto
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: surefire-reports
          path: tyvs-tienda-ropa/target/surefire-report

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

